@tailwind base;
@tailwind components;
@tailwind utilities;

 /* #0096BE -> blue */
#header {
    @apply w-full h-96;
    background-image: url('static/4b6713c47b48ac786f4c0bf341634ef0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



