@tailwind base;
@tailwind components;
@tailwind utilities;

 /* #0096BE -> blue */
#header {
    @apply w-full;
    height: 450px;
    background-image: url('/src/assets/statics/bgheader.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header nav {
    @apply bg-black w-full h-28 flex flex-row;
}



